<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Neural Nets & Fuzzy Logic | Assignments</title>
</head>

<body class="fixed-navbar fixed-sidebar">
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_header.ejs %> 
    <% } else { %>
        <% include ./partials/user_header.ejs %>
    <% } %>
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_nav.ejs %> 
    <% } else { %>
        <% include ./partials/user_nav.ejs %>
    <% } %>
    <!-- Main Wrapper -->
    <div id=wrapper>
        <div class="small-header transition animated fadeIn">
            <div class=hpanel>
                <div class=panel-body>
                    <h2 class="font-light m-b-xs"><%= assignment.name %></h2></div>
            </div>
        </div>
        <div class="content animate-panel">
            <div>
                <div class=row>
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <h5>Start Time: <%= assignment.startTime %></h5>
                                <h5>End Time: <%= assignment.endTime %></h5>
                                <% if (user.isAdmin) { %>
                                    <h5>Total submissions: <%= assignment.whoSubmitted.length %></h5> 
                                <% } else if (assignment.isSubmitted) { %>
                                    <h5>Submitted: Yes</h5>
                                <% } else { %>
                                    <h5>Submitted: No</h5>
                                <% } %>
                                <h4>
                                    <a target="_blank" href="/assignment/release/<%= assignment.name %>" class="btn-sm btn-primary m-t-n-xs" role="button">Download Assignment</a>
                                </h4>
                                <% if (assignment.solutionsAvailable) { %>
                                    <h5> 
                                        <a target="_blank" href="/assignment/solutions/<%= assignment.name %>" class="btn-sm btn-primary m-t-n-xs" role="button">Download Solutions</a>
                                    </h5>
                                <% } %>
                                <% if (assignment.feedbackAvailable && !user.isAdmin) { %>
                                    <h5>
                                        <a target="_blank" href="/assignment/feedback/<%= assignment.name %>" class="btn-sm btn-primary m-t-n-xs" role="button">Download Feedback</a>
                                    </h5>
                                <% } %>
                                <% if (assignment.isActive) { %>
                                    <h4 style="margin-top: 50px;">Make submission</h4>
                                    <h5>Please make sure you upload a ZIP archive of your submission.</h5>
                                    <h5>You can upload as many times as you want within the stipulated time.</h5>
                                    <h5>The most recent submission will overwrite any previous ones.</h5>
                                    <form id="form_1" novalidate="novalidate" role="form" method="post" enctype="multipart/form-data" action="/assignment/upload/<%= assignment.name %>">
                                        <div class="form-group">                                
                                            <label class="btn btn-default">
                                                Selct file <input type="file" id="file" name="file" hidden>
                                            </label>
                                        </div>
                                        <!-- show error message -->
                                        <% if (typeof uploadAssignmentError !== 'undefined' && uploadAssignmentError.length > 0) { %>
                                            <div class="form-group">                                
                                                <label class="error" for="file"><%= uploadAssignmentError %></label>
                                            </div>
                                        <% } %>
                                        <!-- show success message -->
                                        <% if (typeof uploadAssignmentSuccess !== 'undefined' && uploadAssignmentSuccess.length > 0) { %>
                                            <div class="form-group">                                
                                                <label class="success" for="file"><%= uploadAssignmentSuccess %></label>
                                            </div>
                                        <% } %>                                    
                                        <div>
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class=footer>&copy; Team NNFL</footer>
        <% include ./partials/js_imports.ejs %>
        <script>
            $("#form_1").validate({
                rules: {
                    file: {
                    required: true,
                    extension: "zip"
                    }
                },
                messages: {
                    file: {
                        required: "Please select a file to upload.",
                        extension: "File type should be zip."
                    }
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        </script>
    </div>
</body>

</html>
