<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Neural Nets & Fuzzy Logic | Assignments</title>
</head>

<body class="fixed-navbar fixed-sidebar">
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_header.ejs %> 
    <% } else { %>
        <% include ./partials/user_header.ejs %>
    <% } %>
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_nav.ejs %> 
    <% } else { %>
        <% include ./partials/user_nav.ejs %>
    <% } %>
    <!-- Main Wrapper -->
    <div id=wrapper>
        <div class="small-header transition animated fadeIn">
            <div class=hpanel>
                <div class=panel-body>
                    <h2 class="font-light m-b-xs"><%= assignment.name %></h2></div>
            </div>
        </div>
        <div class="content animate-panel">
            <div>
                <div class=row>
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <h5>Start Time: <%= assignment.startTime %></h5>
                                <h5>End Time: <%= assignment.endTime %></h5>
                                <% if (user.isAdmin) { %>
                                    <h5>Total submissions: <%= assignment.whoSubmitted.length %></h5> 
                                <% } else { %>
                                    <h5>Submitted: <%= assignment.isSubmitted %></h5>
                                <% } %>
                                <h5> 
                                    <a target="_blank" href="/assignment/release/<%= assignment.name %>">Download assignment</a>
                                </h5>
                                <% if (assignment.solutionsAvailable) { %>
                                    <h5> 
                                        <a target="_blank" href="/assignment/solutions/<%= assignment.name %>">Download solutions</a>
                                    </h5>
                                <% } %>
                                <% if (assignment.feedbackAvailable && !user.isAdmin) { %>
                                    <h5> 
                                        <a target="_blank" href="/assignment/feedback/<%= assignment.name %>">Download feedback</a>
                                    </h5>
                                <% } %>
                                <% if (assignment.isActive) { %>
                                    <h3 style="margin-top: 65px;">Make submission</h3>
                                    <form role="form" method="post" enctype="multipart/form-data" action="/assignment/upload/<%= assignment.name %>">
                                        <div class="form-group">                                
                                            <label class="btn btn-default">
                                                Selct file <input type="file" name="file" hidden>
                                            </label>
                                        </div>
                                        <!-- show error message -->
                                        <% if (typeof uploadAssignmentError !== 'undefined' && uploadAssignmentError.length > 0) { %>
                                            <div class="form-group">                                
                                                <label class="error" for="file"><%= uploadAssignmentError %></label>
                                            </div>
                                        <% } %>
                                        <!-- show success message -->
                                        <% if (typeof uploadAssignmentSuccess !== 'undefined' && uploadAssignmentSuccess.length > 0) { %>
                                            <div class="form-group">                                
                                                <label class="success" for="file"><%= uploadAssignmentSuccess %></label>
                                            </div>
                                        <% } %>                                    
                                        <div>
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class=footer>&copy; Team NNFL</footer>
        <% include ./partials/js_imports.ejs %>
    </div>
</body>

</html>
