<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Neural Nets & Fuzzy Logic | Manage Assignments</title>
</head>

<body class="fixed-navbar fixed-sidebar">
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_header.ejs %> 
    <% } else { %>
        <% include ./partials/user_header.ejs %>
    <% } %>
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_nav.ejs %> 
    <% } else { %>
        <% include ./partials/user_nav.ejs %>
    <% } %>
    <!-- Main Wrapper -->
    <div id=wrapper>
        <div class="small-header transition animated fadeIn">
            <div class=hpanel>
                <div class=panel-body>
                    <h2 class="font-light m-b-xs">Manage Assignments</h2></div>
            </div>
        </div>
        <div class="content animate-panel">
            <div>
                <div class=row>
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading">Add Assignment</div>
                            <div class="panel-body" style="display: block;">
                                <form role="form" id="form_1" novalidate="novalidate" method="post" action="/addAssignment">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <div class="input-group date datepicker">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            <input type="text" class="form-control" name="startTime">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class="input-group date datepicker">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            <input type="text" class="form-control" name="endTime">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="cb0" name="acceptSubmission">
                                            <label for="cb0">Accept Submissions</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="cb1" name="solutionsAvailable">
                                            <label for="cb1">Solutions Available</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="cb2" name="feedbackAvailable">
                                            <label for="cb2">Feedback Available</label>
                                        </div>
                                    </div>
                                    <!-- show error message -->
                                    <% if (typeof addAssignmentError !== 'undefined' && addAssignmentError.length > 0) { %>
                                        <div class="form-group">                                
                                            <label class="error"><%= addAssignmentError %></label>
                                        </div>
                                    <% } %>
                                    <!-- show success message -->
                                    <% if (typeof addAssignmentSuccess !== 'undefined' && addAssignmentSuccess.length > 0) { %>
                                        <div class="form-group">                                
                                            <label class="success"><%= addAssignmentSuccess %></label>
                                        </div>
                                    <% } %>                                    
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading">Edit Assignment</div>
                            <div class="panel-body">
                                <form role="form" id="form_2" novalidate="novalidate" method="post" action="/editAssignment">
                                    <div class=form-group>
                                        <label style="padding: 0">Select assignment</label>
                                        <br>
                                        <div class=col-sm-10 style="padding: 0">
                                            <select class="form-control m-b" name="oldName">
                                                <% for (var  i=0; i<assignments.length; i++) { %>
                                                    <option><%= assignments[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class=col-sm-2 style="height: 49px"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <div class="input-group date datepicker">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            <input type="text" class="form-control" name="startTime">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class="input-group date datepicker">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            <input type="text" class="form-control" name="endTime">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="cb3" name="acceptSubmission">
                                            <label for="cb3">Accept Submissions</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="cb4" name="solutionsAvailable">
                                            <label for="cb4">Solutions Available</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" id="cb5" name="feedbackAvailable">
                                            <label for="cb5">Feedback Available</label>
                                        </div>
                                    </div>

                                    <!-- show any errors -->
                                    <% if (typeof editAssignmentError !== 'undefined' && editAssignmentError.length > 0) { %>
                                    <div class="form-group">                                
                                        <label class="error"><%= editAssignmentError %></label>
                                    </div>
                                    <% } %>
                                    <!-- show any messages that come back with authentication -->
                                    <% if (typeof editAssignmentSuccess !== 'undefined' && editAssignmentSuccess.length > 0) { %>
                                    <div class="form-group">                                
                                        <label class="success"><%= editAssignmentSuccess %></label>
                                    </div>
                                    <% } %>
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hpanel">
                            <div class="panel-heading">Remove Assignment</div>
                            <div class="panel-body">
                                <form role="form" id="form_3" novalidate="novalidate" method="post" action="/removeAssignment">
                                    <div class=form-group>
                                        <label style="padding: 0">Select assignment</label>
                                        <br>
                                        <div class=col-sm-10 style="padding: 0">
                                            <select class="form-control m-b" name="name">
                                                <% for (var  i=0; i<assignments.length; i++) { %>
                                                    <option><%= assignments[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class=col-sm-2 style="height: 49px"></div>
                                    </div>
                                    <!-- show any errors -->
                                    <% if (typeof removeAssignmentError !== 'undefined' && removeAssignmentError.length > 0) { %>
                                    <div class="form-group">                                
                                        <label class="error"><%= removeAssignmentError %></label>
                                    </div>
                                    <% } %>
                                    <!-- show any messages that come back with authentication -->
                                    <% if (typeof removeAssignmentSuccess !== 'undefined' && removeAssignmentSuccess.length > 0) { %>
                                    <div class="form-group">                                
                                        <label class="success"><%= removeAssignmentSuccess %></label>
                                    </div>
                                    <% } %>
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class=footer>&copy; Team NNFL</footer>
    </div>

    <% include ./partials/js_imports.ejs %>

    <script>
    $(function() {
        var options={
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true
        };
        $('.datepicker').datepicker(options);
        $("#form_1").validate({
            rules: {
                name: {
                    required: true
                },
                startTime: {
                    required: true,
                    date: true
                },
                endTime: {
                    required: true,
                    date: true
                }
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
        $("#form_2").validate({
            rules: {
                oldName: {
                    required: true
                },
                name: {
                    required: true
                },
                startTime: {
                    required: true,
                    date: true
                },
                endTime: {
                    required: true,
                    date: true
                }
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
        $("#form_3").validate({
            rules: {
                name: {
                    required: true
                }
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
    </script>
</body>

</html>
