<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Neural Nets & Fuzzy Logic | Assignments</title>
</head>

<body class="fixed-navbar fixed-sidebar">
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_header.ejs %> 
    <% } else { %>
        <% include ./partials/user_header.ejs %>
    <% } %>
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_nav.ejs %> 
    <% } else { %>
        <% include ./partials/user_nav.ejs %>
    <% } %>
    <!-- Main Wrapper -->
    <div id=wrapper>
        <div class="small-header transition animated fadeIn">
            <div class=hpanel>
                <div class=panel-body>
                    <h2 class="font-light m-b-xs"><%= assignment.name %></h2></div>
            </div>
        </div>
        <div class="content animate-panel">
            <div>
                <div class=row>
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class=row>
                                    <div class="col-lg-6">
                                        <h5>
                                            <b>Start Time:</b> <%= assignment.startTime %>
                                        </h5>
                                        <h5>
                                            <b>End Time:</b> <%= assignment.endTime %>
                                        </h5>
                                    </div>
                                    <div class="col-lg-6" style="text-align: right">
                                        <% if (user.isAdmin) { %>
                                            <h5>
                                                <b>Total submissions:</b> <%= assignment.whoSubmitted.length %>
                                            </h5>
                                        <% } else { %>
                                            <h5>
                                                <b>Score:</b> <%= scores.reduce((a, b) => a + b, 0) %>
                                            </h5>
                                        <% } %>
                                        <% if (!user.isAdmin) { %>
                                            <h5>
                                                <b>Attempts Remaining:</b>
                                                <%= attemptsRemaining %>
                                            </h5>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 20px">
                                <div class="table-responsive">
                                    <h4>Assignment Notebooks</h4>
                                    <% if (assignment.notebooks.length == 0) { %>
                                        <tr>
                                            No notebooks available.
                                        </tr>
                                    <% } else { %>
                                        <table cellpadding="1" cellspacing="1" class="table table-striped" style="margin-top: 25px;font-size: 15px;">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <% if (assignment.solutionsAvailable) { %>
                                                        <th>Solution</th>
                                                    <% } %>
                                                    <% if (user.isAdmin) { %>
                                                        <th> Submissions </th>
                                                    <% } else { %>
                                                        <th> Score </th>
                                                    <% } %>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (var  i=0; i<assignment.notebooks.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <a class="btn-sm btn-primary m-t-n-xs" 
                                                                onclick="assignments.openNotebook('<%= assignment.name %>', '<%= assignment.notebooks[i].name %>', '<%= scores[i] %>', '<%= attemptsRemaining %>')">
                                                                <%=  assignment.notebooks[i].name.slice(0, -6) %>
                                                            </a>
                                                        </td>
                                                        <% if (assignment.solutionsAvailable) { %>
                                                            <td>
                                                                <a class="btn-sm btn-default m-t-n-xs" href="#">
                                                                    Solution
                                                                </a>
                                                            </td>
                                                        <% } %>
                                                        <% if (user.isAdmin) { %>
                                                            <td><b><%= assignment.notebooks[i].submissions.length %></b></td>
                                                        <% } else { %>
                                                            <td><b><%= scores[i] %></b></td>
                                                        <% } %>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    <% } %>    
                                </div>

                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class=footer>&copy; Team NNFL</footer>
        <% include ./partials/js_imports.ejs %>
        <script type="text/javascript">
            getAssignmentName = () => {
                return "<%= assignment.name %>"
            }

            solutionsAvailable = () => {
                return <%= assignment.solutionsAvailable %>
            }
        </script>
        <script type="text/javascript" src="./js/assignment.js"></script>
    </div>
</body>

</html>
